.photo {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 300px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  text-align: center;
  margin: 20px;
  height: 335px;
  cursor: pointer;
}

.photo > h4 {
  margin-top: 10px;
}

.photo-image {
  height: 250px;
  width: 300px;
  object-fit: cover;
}
