.header {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.header-button {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 600;
  padding: 0;
  text-decoration: none;
}

@keyframes header-button-animation {
  from {
    background-size: 0% 5px;
  }
  to {
    background-size: 80% 5px;
  }
}

.header-button:hover {
  animation-name: header-button-animation;
  animation-duration: 0.3s;
  background-image: linear-gradient(#555 0 0);
  background-position: bottom center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 399px) {
  .header-button.active {
    background-size: 70% 3px;
  }

  .header-button:hover {
    background-size: 70% 3px;
  }
}

@media screen and (min-width: 400px) {
  .header-button.active {
    background-size: 80% 5px;
  }

  .header-button {
    font-size: 50px;
  }

  .header-button:hover {
    background-size: 80% 5px;
  }
}

.header-button.active {
  text-decoration: none;
  background-image: linear-gradient(#000 0 0);
  background-position: bottom center;
  background-repeat: no-repeat;
}

.header-text {
  display: inline;
  padding: 20px;
}

.new-card-button {
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  border: solid 2px black;
  border-radius: 2px;
  background-color: #f4f4f4;
  padding: 10px 15px 5px 15px;
  margin: 0;
  margin-left: 10px;
  transition: 0.3s;
  display: inline-block;
}

@media screen and (max-width: 574px) {
  .new-card-button {
    margin-top: 10px;
  }
}

.new-card-button > .header-text {
  margin: 0;
  padding: 0;
}

.new-card-button:hover {
  background-color: #ddd;
}

.header-button.active:hover {
  animation-name: none;
}

.not-found {
  padding: 20px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}

.about {
  padding: 20px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}

.search-bar {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  --border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-input {
  height: 30px;
  padding: 0;
  margin: 0;
  border: solid #000 2px;
  height: 50px;
  max-width: 500px;
  width: 60%;
  font-size: 30px;
  padding-left: 10px;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f4f4f4;
}

.search-input::placeholder {
  color: black;
}

.search-input:focus {
  outline: none;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-button {
  background-color: #f4f4f4;
  position: relative;
  top: 10px;
  height: 54px;
  width: 60px;
  border: solid #000 2px;
  border-left: none;
  padding: 0;
  font-size: 0;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transition: 0.3s;
}

.search-button:hover {
  cursor: pointer;
  background-color: #ddd;
}

.card-container {
  margin: auto;
  padding-top: 30px;
  text-align: center;
  display: grid;
}

@media screen and (max-width: 679px) {
  .card-container {
    width: 340px;
    grid-template-columns: repeat(auto-fill, minmax(340px, 340px));
  }
}

@media screen and (min-width: 680px) {
  .card-container {
    width: 680px;
    grid-template-columns: repeat(auto-fill, minmax(340px, 340px));
  }
}

@media screen and (min-width: 1020px) {
  .card-container {
    width: 1020px;
    grid-template-columns: repeat(auto-fill, minmax(340px, 340px));
  }
}

@media screen and (min-width: 1360px) {
  .card-container {
    width: 1360px;
    grid-template-columns: repeat(auto-fill, minmax(340px, 340px));
  }
}

.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 300px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  text-align: center;
  margin: 20px;
  height: 345px;
}

.card-image {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.card-name {
  margin: 0;
}

.card > h4 {
  margin: 0;
}

.card-description {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  margin: 0;
  padding: 10px;
  padding-top: 0;

  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.form-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  text-align: center;
}

.form {
  margin: auto;
  text-align: left;
  width: 450px;
  margin-top: 40px;
}

.form-input {
  font-size: 25px;
  width: 430px;
  padding: 5px 10px 5px 10px;
  border: none;
  border: solid 1px #000;
  border-radius: 2px;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-field {
  padding-bottom: 20px;
  margin: 10px;
  border-bottom: solid 1px #ddd;
}

.image-input {
  display: none;
}

.custom-file-upload {
  border: 1px solid black;
  display: inline-block;
  padding: 3px 8px;
  cursor: pointer;
}

.form-radio {
  appearance: none;
  font: inherit;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: inline-grid;
  place-content: center;
}

.form-radio::before {
  content: '';
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

.form-radio:checked::before {
  border: 5px solid #363636;
  transform: scale(1);
}

.form-radio:hover::before {
  box-shadow: inset 1em 1em #c5c5c5;
  transform: scale(1);
}

.form-checkbox {
  appearance: none;
  font: inherit;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 2px;
  transform: translateY(-0.075em);
  display: inline-grid;
  place-content: center;
}

.form-checkbox::before {
  content: '';
  width: 12px;
  height: 12px;
  border: 6px solid #363636;
  box-sizing: border-box;
  border-radius: 3px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.form-checkbox:checked::before {
  transform: scale(1);
}

.submit-button {
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  box-sizing: border-box;
  width: 430px;
  border: 1px solid black;
  background-color: #f4f4f4;
  transition: 0.3s;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #e4e4e4;
}

.error-validation {
  font-size: 20px;
  color: red;
}

.success-message {
  transition: 0.5s;
  position: fixed;
  right: 40px;
  bottom: 30px;
  color: rgb(0, 82, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  background-color: rgb(101, 230, 101);
  padding: 10px 20px;
  border: solid 2px rgb(72, 201, 72);
  border-radius: 4px;
}
